dictionariesMade/enDict.json
dictionariesMade/plDict.json

dictionariesSource/kaikkiEng.json
dictionariesSource/kaikkiPol.json

englishWordsByType/adjectives.json
englishWordsByType/adverbs.json
englishWordsByType/conjugations.json
englishWordsByType/interjections.json
englishWordsByType/names.json
englishWordsByType/nouns.json
englishWordsByType/prepositions.json
englishWordsByType/pronouns.json
englishWordsByType/verbs.json

polishWordsByType/adjectives.json
polishWordsByType/adverbs.json
polishWordsByType/conjugations.json
polishWordsByType/interjections.json
polishWordsByType/names.json
polishWordsByType/nouns.json
polishWordsByType/prepositions.json
polishWordsByType/pronouns.json
polishWordsByType/verbs.json

wikipediasUnparsed/englishWiki.xml
wikipediasUnparsed/polishWiki.xml

wordCounts/polishWordsByCommonality.json